.generalText { color: #282836; font-size: 10px; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif }

/*
     FILE ARCHIVED ON 19:49:29 Mar 20, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:25:58 May 25, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 153.4
  exclusion.robots: 0.074
  exclusion.robots.policy: 0.065
  cdx.remote: 0.058
  esindex: 0.009
  LoadShardBlock: 130.249 (3)
  PetaboxLoader3.datanode: 117.837 (4)
  load_resource: 409.478
  PetaboxLoader3.resolve: 400.263
*/